body {
    background-color: #09191d;
  }

  nav {
    background-color: #0F292F;
    margin-bottom: 15px;
}

.navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(203, 45, 111, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

  footer {
    background-color: #09191d;
    color: #CB2D6F;
    text-align:right;
  }

  h1, h2, h3 {
      color:#CB2D6F
}

p {
    color: white;
  }

  nav a {
    font-size: 1.15em;
    color: #CB2D6F;
}

nav a.active {
    font-weight: bold;
}

nav a:hover {
    color: #cccccc;
}

.navbar-toggler {
    border-color: #CB2D6F;
}

.rating {
  display: inline-block;
}

.rating input {
    display: none;
}

.rating label {
  font-size: 20px;
  padding: 2px;
  color: #1c4953;
  float: right;
  transition: all 0.2s ease;
}

.rating input:not(:checked) ~ label:hover,
.rating input:not(:checked) ~ label:hover ~ label {
  color: #fff;
}

.rating input:checked ~ label {
  color: #fff;
}